.host {
  flex: 1;

  padding: 16px;
}

.content {
  margin-bottom: 16px;
}

.logo {
  margin-top: 20px;
  margin-bottom: 40px;

  width: 80px;
}

.text {
  margin-bottom: 10px;

  font-size: 28px;
  font-weight: 200;
}
