{
  "presets": [
    "react-native-stage-0/decorator-support"
  ],
  "plugins": [
    [
      "module-resolver", {
        "extensions": [
          ".js"
        ],
        "root": [
          "./src"
        ]
      }
    ]
  ]
}
