{
  "presets": ["module:metro-react-native-babel-preset"],
  "sourceMaps": "inline",
  "plugins": [
    [
      '@babel/plugin-proposal-decorators',
      {
        legacy: true
      }
    ],
    [
      "module-resolver", {
        "extensions": [
          ".js",
          ".ts",
          ".tsx",
          ".css"
        ],
        "root": [
          "./src"
        ]
      }
    ]
  ]
}
