{
  "extends": "@ueno/eslint-config/react-native",
  "plugins": [
    "react-native",
    "react",
    "detox",
    "jest"
  ],
  "rules": {
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "globals": {
    "fetch": true,
    "__DEV__": true
  },
  "env": {
    "jest/globals": true
  }
}
