# OSX
#
.DS_Store

# Xcode
#
.build
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
ios/Pods
ios/Podfile.lock

# Android/IntelliJ
#
android/keystores/release.*
android/app/bin
.settings
.classpath
.project
build/
.idea
.gradle
local.properties
*.iml
.vscode
playstore.json

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Environment (react-native-config)
.env
config.env.js
GeneratedDotEnv.m
GeneratedInfoPlistDotEnv.h
.travis/secrets.zip
.travis/id_rsa

# Firebase and Sentry
sentry.properties
GoogleService-Info.plist
google-services.json

# Android emulator logs
*_API_*.log
