.host {
  height: 52px;
  background-color: #E0E3E6;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.container {
  flex: 1;
  padding: 0 60px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.text {
  text-align: center;
}
