.button {
  border-radius: 4px;
  background-color: #eee;
}

.button__disabled {
  background-color: #e4e4e4;
}

.text {
  padding: 12px;

  font-size: 18px;
  text-align: center;
  color: #000;
}

.text__disabled {
  color: #b8b8b8;
}
