.host {
  flex: 1;

  padding-horizontal: var(--gutter);
  padding-vertical: var(--gutter);

  background-color: #ffffff;
}

.content {
  margin-bottom: var(--gutter);
}

.text {
  font-size: 21px;
  font-weight: 200;
}

.actions {
  flex-direction: row;
}

.actions__button {
  flex: 1;
}

.actions__spacer {
  width: var(--gutter);
}
