.counter {
  flex: 1;

  padding: 16px;

  background-color: #fff;

  &__content {
    margin-bottom: 16px;
  }

  &__text {
    font-size: 21px;
    font-weight: 200;
  }

  &__actions {
    flex-direction: row;
  }

  &__button {
    flex: 1;
  }

  &__spacer {
    width: 16px;
  }
}

