@font-face {
  font-family: Akagi Pro;
  font-style: normal;
  font-weight: 200;
  src: url(https://cdn.ueno.co/build/0b1baa79c7ed3c574b14584d3bd80706.eot);
  src: url(https://cdn.ueno.co/build/0b1baa79c7ed3c574b14584d3bd80706.eot?#iefix) format("embedded-opentype"), url(https://cdn.ueno.co/build/3f5a020d3bceedf9a95085925e364fda.woff2) format("woff2"), url(https://cdn.ueno.co/build/6f5dd8372a2de36ececf8646095fbcf8.woff) format("woff"), url(https://cdn.ueno.co/build/0f3e0a7ec2a2dff2208206266abcb0d4.ttf) format("truetype")
}

@font-face {
  font-family: Akagi Pro;
  font-style: normal;
  font-weight: 300;
  src: url(https://cdn.ueno.co/build/058b4181d0c9e5cc8bebd92c4ed5e02e.eot);
  src: url(https://cdn.ueno.co/build/058b4181d0c9e5cc8bebd92c4ed5e02e.eot?#iefix) format("embedded-opentype"), url(https://cdn.ueno.co/build/f53acd128763eec58a67d4da64b88af2.woff2) format("woff2"), url(https://cdn.ueno.co/build/441986af1d0bbd1f0ab3004d8a602a12.woff) format("woff"), url(https://cdn.ueno.co/build/91a67042bfbd0d0a61c36fa9edd28dff.ttf) format("truetype")
}

@font-face {
  font-family: Akagi Pro;
  font-style: normal;
  font-weight: 500;
  src: url(https://cdn.ueno.co/build/0307743963c78da3fc8c90df19d12b68.eot);
  src: url(https://cdn.ueno.co/build/0307743963c78da3fc8c90df19d12b68.eot?#iefix) format("embedded-opentype"), url(https://cdn.ueno.co/build/b1f9a86af6771448839673695133ba35.woff2) format("woff2"), url(https://cdn.ueno.co/build/3d08fd3afd01115725223b254b7c016a.woff) format("woff"), url(https://cdn.ueno.co/build/8bb23076e2f27c33aea33869c1f6a533.ttf) format("truetype")
}

@font-face {
  font-family: Akagi Pro;
  font-style: normal;
  font-weight: 600;
  src: url(https://cdn.ueno.co/build/9735c98d855f55429a1bafdb59392629.eot);
  src: url(https://cdn.ueno.co/build/9735c98d855f55429a1bafdb59392629.eot?#iefix) format("embedded-opentype"), url(https://cdn.ueno.co/build/5d3568f7c9e5d1fb550812a0ccc9b562.woff2) format("woff2"), url(https://cdn.ueno.co/build/4603d07ca4ff43c3bcecb6e325b77991.woff) format("woff"), url(https://cdn.ueno.co/build/60ee0b9d1484232ffb1d0c6b6c6aac28.ttf) format("truetype")
}

@font-face {
  font-family: Akagi Pro;
  font-style: normal;
  font-weight: 700;
  src: url(https://cdn.ueno.co/build/81afe1699265289990d418390cbebd19.eot);
  src: url(https://cdn.ueno.co/build/81afe1699265289990d418390cbebd19.eot?#iefix) format("embedded-opentype"), url(https://cdn.ueno.co/build/3de86594f4f8d10d1e13a3c9a4131cf4.woff2) format("woff2"), url(https://cdn.ueno.co/build/f12ce0cfcf289545849d0a21406db3c0.woff) format("woff"), url(https://cdn.ueno.co/build/35d4578124776bb0a8b97156d8d69fb5.ttf) format("truetype")
}

@font-face {
  font-family: Tisa Pro;
  font-style: normal;
  font-weight: 100;
  src: url(https://cdn.ueno.co/build/46741246a17f92318b85ed5fefc10bf0.eot);
  src: url(https://cdn.ueno.co/build/46741246a17f92318b85ed5fefc10bf0.eot?#iefix) format("embedded-opentype"), url(https://cdn.ueno.co/build/7eea1ac94056e880388a762cff8d229f.woff2) format("woff2"), url(https://cdn.ueno.co/build/b6d027faffd6f327a708489796b366f6.woff) format("woff"), url(https://cdn.ueno.co/build/14ae000431b2aec2ecaeb3d89d5837c4.ttf) format("truetype")
}

@font-face {
  font-family: Tisa Pro;
  font-style: normal;
  font-weight: 200;
  src: url(https://cdn.ueno.co/build/b453bc1669e1e3825cb73678a91e21f3.eot);
  src: url(https://cdn.ueno.co/build/b453bc1669e1e3825cb73678a91e21f3.eot?#iefix) format("embedded-opentype"), url(https://cdn.ueno.co/build/f8922bae63b8f763e5998bc41b3f3204.woff2) format("woff2"), url(https://cdn.ueno.co/build/1411cc85f2461986cf9e7c06043d687a.woff) format("woff"), url(https://cdn.ueno.co/build/5627b36d02d1b6a3c99e1feb0d5633e5.ttf) format("truetype")
}


.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section strong {
  font-family: Tisa Pro, sans-serif;
}
